.comp__front-hero{
  position: relative;
  padding:0 0;
  &__sequence{
    display: block;
    &.sequence1{
      z-index: $layer--content + 1;
      a.button{
        opacity: 0;
      }
    }
    &.sequence2{
      .title{
        opacity: 0;
      }
    }
  }
  .comp__action{
    margin-top: $spacing--large;
    .button--outline{
      border-color: $white;
      &:hover{
        background-color: $white !important;
        color: $color--primary;
      }
    }
  }
  .comp__content{
    &__statement{
      margin-bottom: $spacing--large;
      opacity: 0;
      h1{
        @extend h4;
        line-height: 1.5em !important;
        font-weight: 600 !important;
      }
    }
    .title{
      @extend h3;
    }
    .message{
      color:white;
      display:block;
      position: relative;
      margin-bottom:$spacing--small;
      &:hover{
        .inner{
          .line{
            background-color: $white;
            transition: background-color 0.2s $global-easeing;
          }          
        }
      }
      .inner{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: auto;
        position: relative;
        overflow-y: hidden;
        .line{
          background-color: transparent;
        }
      }
      .icon{
        display: inline-block;
        position: relative;
        float: left;
        width: auto;
        height: auto;
        margin-left:$spacing--small;
        margin-right: $spacing--medium;
        opacity: 0;
        svg{
          fill:$white;
        }
        &--report{
          width: 53px;
          height: 46px;
        }
        &--communication{
          width: 53px;
          height: 37px;
        }
        &--ICTservice{
          width: 53px;
          height: 35px;
        }
      }
      h1{
        display: inline-block;
        font-weight: bold;
        opacity: 0;
      }
      .line{
        display: inline;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: darken($color--primary, 10%);
        left: 0;
        bottom: 0;
        width: 0;
        // opacity: 0;
        margin-left: $spacing--large*1.75;
        transition: background-color 0.2s $global-easeing;
      }
    }
  }
}
.comp__overlay{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to top, rgba(38,57,124,1) 20%, rgba(38,57,124,0) 100%);
  z-index: $layer--content;
}
.comp__toggle--hero{
  display: block;
  position: absolute;
  top: $spacing--medium;
  right: $spacing--medium;
  padding:$spacing--small;
  background-color: darken($color--primary, 5%);
  border-radius: 100%;
  z-index: $layer--content + 1;
  transition: transform 0.3s $global-easeing;
  &:hover{
    cursor: pointer;
    background-color: $white;
    .icon{
      svg{
        fill:$primary-color;
      }
    }
  }
  .icon{
    width: 16px;
    height: 16px;
    svg{
      fill:white;
    }
  }
  &.toggled{
    transform: rotate(45deg);
    transition: transform 0.3s $global-easeing 0.3s;
  }
}
