.qtip-default.comp__tooltips{
  // border: 1px solid rgba($color--primary, 0.5);
  border:none;
  background: rgba($white, 0.95);
  box-shadow: 0 5px 30px rgba($black, 0.15);
  z-index: $layer--content + 1 !important;
  font-size: 12px;
  .qtip-tip{
    display: none !important;
  }
  .qtip-content{
    padding:$spacing--medium;
    background-color: transparent;
  }
  .comp__content{
    .meta{
      // margin-bottom: 0;
      font-weight: bold;
    }
  }
}

.qtip {
  @include breakpoint(medium){
    max-width: 50%!important;
  }
  @include breakpoint(large){
    max-width: 33%!important;
  }
}
