.comp__logo{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  .icon--logo{
    width: 231px;
    height: auto;
    margin:$spacing--medium auto $spacing--medium 0;
  }
  svg{
    fill:$primary-color;
  }
}
