.comp__pagination{
  padding:$spacing--medium 0;
  .pagination{
    margin: 0;
    text-align: center;
    li{
      padding:0;
      a{
        color: $color--primary;
        padding:$spacing--small*0.5 $spacing--small*1.25;
        &:hover{
          color:$color--accent;
          border-bottom: 3px solid $color--accent;
        }
      }
      &.current{
        a{
          color:$color--accent;
          border-bottom: 3px solid $color--accent;
        }
        @include breakpoint(small only){
          display: inline-block;
        }
      }
      &.pagination-previous, &.pagination-next{
        @include breakpoint(small only){
          border: 1px solid $color--primary;
          margin: 0 $spacing--medium;
          &.disabled{
            padding:$spacing--small*0.5 $spacing--small;
            border-color: $medium-gray;
          }
        }
      }
      &.ellipsis{
        &:after{
          content: '...';
        }
      }
    }
  }
}
