.comp__search-form{
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  background-color: $color--background01;
  width: 100%;
  height: 100%;
  z-index: $layer--content + 200;
  .input-group{
    width: 80%;
    margin: auto;
    // background-color: $white;
    .row{
      margin: auto;
      width: 100%;
    }
    @include breakpoint(small only){
      z-index: $layer--navigation + 200;
      .comp__filter{
        .select--topic{
          width: 20px;
        }
      }
    }
    @include breakpoint(large up){
      width: 60%;
    }
    @include breakpoint(xlarge up){
      width: 50%;
    }
  }
}
