.comp__search-form{
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  background-color: $color--accent;
  width: 100%;
  height: 100%;
  z-index: $layer--navigation;
  .input-group{
    width: 60%;
    margin: auto;
    // background-color: $white;
    .row{
      margin: auto;
      width: 100%;
    }
    @include breakpoint(large up){
      width: 60%;
    }
    @include breakpoint(xlarge up){
      width: 50%;
    }
    .select--topic{
      margin-bottom:0;
      font-size: rem-calc(20px);
      line-height: rem-calc(38px);
      height: auto;
      background-color: darken($color--accent, 10%);
      color: white;
      padding-left: $spacing--medium;
      padding-right: $spacing--medium;
      background-image: url("data:image/svg+xml;utf8,<svg width='13px' height='9px' viewBox='0 -1 13 9' version='1.1' xmlns='http://www.w3.org/2000/svg'><polygon fill='#ffffff' fill-rule='evenodd' points='6 4.5 1.5 -9.42055475e-15 1.13046657e-14 1.5 6 7.5 12 1.5 10.5 -1.13046657e-14'></polygon></svg>")
    }
    .input--search{
      margin-bottom: 0;
      line-height: rem-calc(38px);
      font-size: rem-calc(20px);
      height: auto;
    }
    .button{
      margin-bottom: 0;
    }
  }
}
