.comp__logo{
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  a{
    display: flex;
    .icon--logo{
      width: 320px;
      height: 66px;
      margin:$spacing--medium auto $spacing--medium 0;
    }
    svg{
      transition: fill 0.2s $global-easeing;
      fill:$primary-color;
    }
    &:hover{
      svg{
        transition: fill 0.2s $global-easeing;
        fill:$color--accent;
      }
    }
  }
}
.comp__logo--mini{
  display: none;
  margin-left: $spacing--medium*1.5;
  opacity: 0;
  // transform: translate3d(-100%, 0, 0);
  a{
    &:hover{
      svg{
        transition: fill 0.2s $global-easeing;
        fill:$color--accent;
      }
    }
  }
  .icon--logo--mini{
    width: 80px*0.7;
    height: 60px*0.7;
    svg{
      transition: fill 0.2s $global-easeing;
      fill:$color--primary;
    }
  }
  .header-sticky &{
    display: block;
    // opacity: 1;
    // transform: translate3d(0, 0, 0);
  }
  .mobile-menu--opened &{
    display: none !important;
  }
}
