$spacing--small: 12px;
$spacing--medium: 24px;
$spacing--large: 48px;

$layer--background:0;
$layer--content:99;
$layer--navigation:999;
$layer--overlay:9999;

$color--primary: #26387C;
$color--accent: #E43A37;


$site--header-height: 192px;

$global-easeing: ease-in-out;
