.title{
  font-weight: 600;
}
.teaser{
  color: $secondary-color;
}
.text--accent{
  color: $color--accent;
}
.label, .tag{
  border: 1px solid $secondary-color;
  font-size: $small-font-size;
  text-transform: uppercase;
}
.navigation__list{
  list-style: none;
  margin: 0;
  .list-item{
    @extend h5;
    font-weight: 600 !important;
    margin-bottom: 0 !important;
  }
}
p, blockquote{
  a{
    display: inline-block;
    color: $color--accent;
    border-bottom: 1px solid $color--accent;
    &:hover{
      color: $color--primary;
      border-color: $color--primary;
    }
  }
}
.language__list{
  list-style: none;
  margin: 0;
  .list-item{
    margin-bottom: 0;
    font-size: $small-font-size;
    text-transform: uppercase;
  }
}
