.comp__front-hero--A
  .row
    .small-12.medium-6.large-6.column
      .comp__front-hero--A__sequence.sequence1
        .comp__content
            h1.title Welcome to AIS. We develop, optimize and create awareness about administrative affairs and information systems.
    .small-12.medium-6.large-6.column
      .comp__front-hero--A__sequence.sequence2
        .comp__content
          h4.title Our core services include:
          ul.services
            li.services-item
              span.icon.icon--report
                svg
                  use(xlink:href="images/svg-sprite.svg#icon--report")
              .inner Research reports
            li.services-item
              span.icon.icon--communication
                svg
                  use(xlink:href="images/svg-sprite.svg#icon--communication")
              .inner Communication
            li.services-item
              span.icon.icon--ICTservice
                svg
                  use(xlink:href="images/svg-sprite.svg#icon--ICTservice")
              .inner ITC service
