.comp__section--profile_list
  .comp__section__title
    h5 Profiles
  .comp__section__content
    .row
      - each profile in site.data.profile_list
        .small-12.column
          .comp__thumbnail--profile
            .thumbnail
              .row
                .small-4.medium-2.column
                  .comp__media
                    img(src= "#{profile.imgsrc}")
                .small-8.medium-10.large-8.column
                  .comp__content
                    h4.title.title--profile #{profile.name}
                    p #{profile.description}
