.comp__front-hero--B
  .comp__front-hero--B__sequence.sequence2
    .comp__content
        h1.title(data-highlight='promote and communicate,research reports,ITC Service') Welcome to AIS. We promote and communicate about administrative information systems. Our core services include research reports on administrative affairs and services and ITC Service.
