.comp__section--latest_list
  .comp__section__title
    h5 latest from iais
  .comp__section__content
    .row
      - each latest in site.data.latest_list
        .small-12.column
          .comp__thumbnail--latest()
            a(href="#")
              .comp__content
                p.tag.label #{latest.tag}
                h4.title.title--latest #{latest.title}
                p.teaser.teaser--latest #{latest.teaser}
                p.meta.date #{latest.date}
  .comp__section__action
    a.button.large.button--with-icon.button--outline.button--accent
      span.text more in latest
      span.icon.icon--arrow01
        svg
          use(xlink:href="images/svg-sprite.svg#icon--arrow01")
