.comp__front-hero
  .comp__front-hero__sequence.sequence1
    .comp__content
      a.message
        .inner
          span.icon.icon--report
            svg
              use(xlink:href="images/svg-sprite.svg#icon--report")
          h1 Reports
          span.line
      a.message
        .inner 
          span.icon.icon--communication
            svg
              use(xlink:href="images/svg-sprite.svg#icon--communication")
          h1 Communication
          span.line
      a.message
        .inner 
          span.icon.icon--ICTservice
            svg
              use(xlink:href="images/svg-sprite.svg#icon--ICTservice")
          h1 ICT Services
          span.line
    .comp__action
      a.button.large.button--outline 研究所概要
  .comp__front-hero__sequence.sequence2
    .comp__content
        h1.title 一般社団法人 行政情報システム研究所は、行政情報化を推進する専門機関として、我が国の電子政府の実現に向けた諸方策の具体化及び行政情報システムの整備・構築に的確に貢献するために、行政機関と企業、社会一般との接点に位置する一般社団法人として情報システムに係る調査研究、普及啓発、役務の提供等の事業を実施しています。
