.comp__toggle-menu
  .icon.icon--toggle-menu
    svg
      use(xlink:href="images/svg-sprite.svg#icon--toggle-menu")
  .icon.icon--close
    svg
      use(xlink:href="images/svg-sprite.svg#icon--close")
