.comp__navigation
  .row.collapse.align-middle
    nav.navigation.column
      ul.navigation__list#navLs
        - each menu in site.data.menu_list
          li.list-item
            a(href="#") #{menu.name}
    .comp__language-selector.column.shrink#LangLs
      ul.language__list
        li.list-item.active
          a(href="#") 日本語
        li.list-item
          a(href="#") English
    .comp__search.column.shrink#ToggleSearch
      .toggle--search
        .icon.icon--search
          svg
            use(xlink:href="images/svg-sprite.svg#icon--search")
        .icon.icon--close
          svg
            use(xlink:href="images/svg-sprite.svg#icon--close")
    .comp__search-form
      form.input-group
        .row.collapse.align-center.align-middle
          .column.shrink
            select.select--topic.prefix
              - each topic in site.data.topic_list
                option(value='#{topic.name}') #{topic.name}
          .column.medium-expand
            input.input--search(type='search')
          .column.shrink
            a.button.large.postfix.button--solid(href="#") 検索
