.comp__section--publication_list
  .comp__section__title
    h5 publication
  .comp__section__content
    .row
      - each publication in site.data.publication_list
        .comp__thumbnail--publication.small-12.column
          .mytooltip(data-url='index.html')
            .comp__content
              p.tag.label #{publication.tag}
              h4.title.title--publication #{publication.title}
              p.teaser.teaser--publication #{publication.teaser}
              p.meta.date #{publication.date}
  .comp__section__action
    a.button.large
      span.text more in publication
      span.icon
