.comp__section--seminars
  .comp__section__title
    h5 seminars
  .comp__section__content
    .row
      .comp__thumbnail--seminars.small-12.column
        a
          .row
            .small-12.medium-6.column
              .comp__content
                h2.title.title--seminars 第5回CIO補佐官講座
                p.teaser.teaser--news
                  | 平成27年9月2日～4日の3日間にわたりCIO補佐官講座を開催しました。
                  br
                  br
                  | 本講座は、現役のCIO補佐官、政府職員、元職員など実務に精通した講師陣による、専門性と実践性を備えた、他に類を見ないオリジナリティの高い内容となっています。
                .link view seminars
            .small-12.medium-6.column
              .comp__media
                img(src='images/image-01.jpg')
  .comp__section__action
    a.button.large.button--with-icon.button--outline.button--accent
      span.text more in seminars
      span.icon.icon--arrow01
        svg
          use(xlink:href="images/svg-sprite.svg#icon--arrow01")
