mixin comp__filter(id, className)
  .comp__filter(class='#{className}')
    select.select--topic.prefix(id=id)
      - each topic in site.data.topic_list
        option(value='#{topic.name}') #{topic.name}
