extends _layouts/base

block scripts
  script(src= baseUrl + 'scripts/main.js')
  script(src= baseUrl + 'scripts/main--reportIsotope.js')


block site--main
  .container.container--no-padding.container--top-border
    .row.align-left
      .small-12.column
        .comp__page-title.comp__page-title--overview
          h1 報告書
  .container.container--no-padding
    .row.align-left
      .small-12.column.shrink
        include _modules/components/comp__filter-group
  .container.container--top-border.container--no-bottom-padding
    .row
      .small-12.column
        include _modules/components/comp__section-overview--report_list
  .container.container--top-border.container--no-padding
    .row.align-center
      .small-12.column
        include _modules/components/comp__pagination
